:root {
    --primary: #a0a0ff;
    --secondary: #8080ff;
    --background: #404040;
    --text-color: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background);
    color: var(--text-color);
}

nav {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    border: 2px solid var(--secondary);
    border-radius: 2rem;
    flex: 1 1 200px;
    height: 200px;
}

main {
    display: flex;
    flex: 1;
    width: 1000px;
    margin: 0 auto;
}

.sidebar {
    display: flex;
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    flex: 0 0 250px;
}

.content {
    flex: 1;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    padding: 25px 50px;
}